In [1]:
import polars as pl

fruit = pl.read_csv("data/fruit.csv")
fruit.filter(pl.col("is_round") & (pl.col("weight") > 1000))

shape: (2, 5)
┌────────────┬────────┬────────┬──────────┬────────┐
│ name       ┆ weight ┆ color  ┆ is_round ┆ origin │
│ ---        ┆ ---    ┆ ---    ┆ ---      ┆ ---    │
│ str        ┆ i64    ┆ str    ┆ bool     ┆ str    │
╞════════════╪════════╪════════╪══════════╪════════╡
│ Cantaloupe ┆ 2500   ┆ orange ┆ true     ┆ Africa │
│ Watermelon ┆ 5000   ┆ green  ┆ true     ┆ Africa │
└────────────┴────────┴────────┴──────────┴────────┘

In [2]:
(
    pl.DataFrame({"i": [6.0, 0, 2, 2.5], "j": [7.0, 1, 2, 3,]}).with_columns(
        (pl.col("i")*pl.col("j")).alias("*"),
        pl.col("i").mul(pl.col("j")).alias("Expr.mul()"),
    )
)

shape: (4, 4)
┌─────┬─────┬──────┬────────────┐
│ i   ┆ j   ┆ *    ┆ Expr.mul() │
│ --- ┆ --- ┆ ---  ┆ ---        │
│ f64 ┆ f64 ┆ f64  ┆ f64        │
╞═════╪═════╪══════╪════════════╡
│ 6.0 ┆ 7.0 ┆ 42.0 ┆ 42.0       │
│ 0.0 ┆ 1.0 ┆ 0.0  ┆ 0.0        │
│ 2.0 ┆ 2.0 ┆ 4.0  ┆ 4.0        │
│ 2.5 ┆ 3.0 ┆ 7.5  ┆ 7.5        │
└─────┴─────┴──────┴────────────┘

In [ ]:
fruit.select(pl.col("name"), (pl.col("weight")/1000).alias("NAMENAME"))

shape: (10, 2)
┌────────────┬──────────┐
│ name       ┆ NAMENAME │
│ ---        ┆ ---      │
│ str        ┆ f64      │
╞════════════╪══════════╡
│ Avocado    ┆ 0.2      │
│ Banana     ┆ 0.12     │
│ Blueberry  ┆ 0.001    │
│ Cantaloupe ┆ 2.5      │
│ Cranberry  ┆ 0.002    │
│ Elderberry ┆ 0.001    │
│ Orange     ┆ 0.13     │
│ Papaya     ┆ 1.0      │
│ Peach      ┆ 0.15     │
│ Watermelon ┆ 5.0      │
└────────────┴──────────┘

In [6]:
fruit

shape: (10, 5)
┌────────────┬────────┬────────┬──────────┬───────────────┐
│ name       ┆ weight ┆ color  ┆ is_round ┆ origin        │
│ ---        ┆ ---    ┆ ---    ┆ ---      ┆ ---           │
│ str        ┆ i64    ┆ str    ┆ bool     ┆ str           │
╞════════════╪════════╪════════╪══════════╪═══════════════╡
│ Avocado    ┆ 200    ┆ green  ┆ false    ┆ South America │
│ Banana     ┆ 120    ┆ yellow ┆ false    ┆ Asia          │
│ Blueberry  ┆ 1      ┆ blue   ┆ false    ┆ North America │
│ Cantaloupe ┆ 2500   ┆ orange ┆ true     ┆ Africa        │
│ Cranberry  ┆ 2      ┆ red    ┆ false    ┆ North America │
│ Elderberry ┆ 1      ┆ black  ┆ false    ┆ Europe        │
│ Orange     ┆ 130    ┆ orange ┆ true     ┆ Asia          │
│ Papaya     ┆ 1000   ┆ orange ┆ false    ┆ South America │
│ Peach      ┆ 150    ┆ orange ┆ true     ┆ Asia          │
│ Watermelon ┆ 5000   ┆ green  ┆ true     ┆ Africa        │
└────────────┴────────┴────────┴──────────┴───────────────┘

In [8]:
fruit.filter(
    pl.col("name").is_in(["Papaya", "Watermelon"])
)

shape: (2, 5)
┌────────────┬────────┬────────┬──────────┬───────────────┐
│ name       ┆ weight ┆ color  ┆ is_round ┆ origin        │
│ ---        ┆ ---    ┆ ---    ┆ ---      ┆ ---           │
│ str        ┆ i64    ┆ str    ┆ bool     ┆ str           │
╞════════════╪════════╪════════╪══════════╪═══════════════╡
│ Papaya     ┆ 1000   ┆ orange ┆ false    ┆ South America │
│ Watermelon ┆ 5000   ┆ green  ┆ true     ┆ Africa        │
└────────────┴────────┴────────┴──────────┴───────────────┘

In [9]:
fruit.select(pl.max_horizontal(pl.col("weight"), pl.col("is_round")))

shape: (10, 1)
┌────────┐
│ weight │
│ ---    │
│ i64    │
╞════════╡
│ 200    │
│ 120    │
│ 1      │
│ 2500   │
│ 2      │
│ 1      │
│ 130    │
│ 1000   │
│ 150    │
│ 5000   │
└────────┘

In [12]:
pl.DataFrame(
    {"a": [-273.15, 0, 42, 100], "b": [1.4142, 2.7183, 42, 3.1415]}
).with_columns(
    (pl.col("a") == pl.col("b")).alias("a==b"),
    (pl.col("a") <= pl.col("b")).alias("a<=b"),
    (pl.all() > 0).name.suffix(">0"),
    ((pl.col("b")-pl.lit(2).sqrt()).abs() < 1e-3).alias("b almost sqrt(2)"),
    ((1 < pl.col("b")) & (pl.col("b") < 3)).alias("1< b < 3")
)

shape: (4, 8)
┌─────────┬────────┬───────┬───────┬───────┬──────┬──────────────────┬──────────┐
│ a       ┆ b      ┆ a==b  ┆ a<=b  ┆ a>0   ┆ b>0  ┆ b almost sqrt(2) ┆ 1< b < 3 │
│ ---     ┆ ---    ┆ ---   ┆ ---   ┆ ---   ┆ ---  ┆ ---              ┆ ---      │
│ f64     ┆ f64    ┆ bool  ┆ bool  ┆ bool  ┆ bool ┆ bool             ┆ bool     │
╞═════════╪════════╪═══════╪═══════╪═══════╪══════╪══════════════════╪══════════╡
│ -273.15 ┆ 1.4142 ┆ false ┆ true  ┆ false ┆ true ┆ true             ┆ true     │
│ 0.0     ┆ 2.7183 ┆ false ┆ true  ┆ false ┆ true ┆ false            ┆ true     │
│ 42.0    ┆ 42.0   ┆ true  ┆ true  ┆ true  ┆ true ┆ false            ┆ false    │
│ 100.0   ┆ 3.1415 ┆ false ┆ false ┆ true  ┆ true ┆ false            ┆ false    │
└─────────┴────────┴───────┴───────┴───────┴──────┴──────────────────┴──────────┘

In [13]:
pl.select(
    bool_num=pl.lit(True) > 0,
    time_time=pl.time(23, 58) > pl.time(0, 0),
    datetime_date=pl.datetime(1969, 7, 21, 2, 56) < pl.date(1976, 7, 20),
    str_num=pl.lit("5") < pl.lit(3).cast(pl.String),
    datetime_time=pl.datetime(1999, 1, 1).dt.time() != pl.time(0, 0),
).transpose(
    include_header=True, header_name="comparison", column_names=["allowed"]
)

shape: (5, 2)
┌───────────────┬─────────┐
│ comparison    ┆ allowed │
│ ---           ┆ ---     │
│ str           ┆ bool    │
╞═══════════════╪═════════╡
│ bool_num      ┆ true    │
│ time_time     ┆ true    │
│ datetime_date ┆ true    │
│ str_num       ┆ false   │
│ datetime_time ┆ false   │
└───────────────┴─────────┘

In [ ]:
x = 7
p = pl.lit(3) < pl.lit(x)
q = pl.lit(x) < pl.lit(5)
pl.select(p & q).item()

False

In [ ]:
prefs = pl.DataFrame(
    {
        "id": [1, 7, 42, 101, 999],
        "has_pet": [True, False, True, False, True],
        "likes_travel": [False, False, False, False, True],
        "likes_movies": [True, False, True, False, True],
        "likes_books": [False, False, True, True, True],
    }
).with_columns(
    all=pl.all_horizontal(pl.exclude("id")),
    any=pl.any_horizontal(pl.exclude("id")),
)
prefs

shape: (5, 7)
┌─────┬─────────┬──────────────┬──────────────┬─────────────┬───────┬───────┐
│ id  ┆ has_pet ┆ likes_travel ┆ likes_movies ┆ likes_books ┆ all   ┆ any   │
│ --- ┆ ---     ┆ ---          ┆ ---          ┆ ---         ┆ ---   ┆ ---   │
│ i64 ┆ bool    ┆ bool         ┆ bool         ┆ bool        ┆ bool  ┆ bool  │
╞═════╪═════════╪══════════════╪══════════════╪═════════════╪═══════╪═══════╡
│ 1   ┆ true    ┆ false        ┆ true         ┆ false       ┆ false ┆ true  │
│ 7   ┆ false   ┆ false        ┆ false        ┆ false       ┆ false ┆ false │
│ 42  ┆ true    ┆ false        ┆ true         ┆ true        ┆ false ┆ true  │
│ 101 ┆ false   ┆ false        ┆ false        ┆ true        ┆ false ┆ true  │
│ 999 ┆ true    ┆ true         ┆ true         ┆ true        ┆ true  ┆ true  │
└─────┴─────────┴──────────────┴──────────────┴─────────────┴───────┴───────┘

In [23]:
prefs.select(
    sum=pl.sum_horizontal(pl.all()),
    max=pl.max_horizontal(pl.all()),
    mix=pl.min_horizontal(pl.all()),
)

shape: (5, 3)
┌──────┬─────┬─────┐
│ sum  ┆ max ┆ mix │
│ ---  ┆ --- ┆ --- │
│ i64  ┆ i64 ┆ i64 │
╞══════╪═════╪═════╡
│ 4    ┆ 1   ┆ 0   │
│ 7    ┆ 7   ┆ 0   │
│ 46   ┆ 42  ┆ 0   │
│ 103  ┆ 101 ┆ 0   │
│ 1005 ┆ 999 ┆ 1   │
└──────┴─────┴─────┘

when then otherwise - kinda like case_when I think

In [26]:
prefs.select(
    pl.col("id"),
    likes_what=pl.when(pl.all_horizontal(pl.col("^likes_.*$")))
    .then(pl.lit("Likes everything"))
    .when(pl.any_horizontal(pl.col("^likes_.*$")))
    .then(pl.lit("likes something"))
    .otherwise(pl.lit("likes nothing"))
)

shape: (5, 2)
┌─────┬──────────────────┐
│ id  ┆ likes_what       │
│ --- ┆ ---              │
│ i64 ┆ str              │
╞═════╪══════════════════╡
│ 1   ┆ likes something  │
│ 7   ┆ likes nothing    │
│ 42  ┆ likes something  │
│ 101 ┆ likes something  │
│ 999 ┆ Likes everything │
└─────┴──────────────────┘