In [2]:
import polars as pl

In [3]:
fruit = pl.read_csv("data/fruit.csv")
fg = fruit.group_by("is_round")

In [4]:
fg.len()

shape: (2, 2)
┌──────────┬─────┐
│ is_round ┆ len │
│ ---      ┆ --- │
│ bool     ┆ u32 │
╞══════════╪═════╡
│ false    ┆ 6   │
│ true     ┆ 4   │
└──────────┴─────┘

In [5]:
fruit

shape: (10, 5)
┌────────────┬────────┬────────┬──────────┬───────────────┐
│ name       ┆ weight ┆ color  ┆ is_round ┆ origin        │
│ ---        ┆ ---    ┆ ---    ┆ ---      ┆ ---           │
│ str        ┆ i64    ┆ str    ┆ bool     ┆ str           │
╞════════════╪════════╪════════╪══════════╪═══════════════╡
│ Avocado    ┆ 200    ┆ green  ┆ false    ┆ South America │
│ Banana     ┆ 120    ┆ yellow ┆ false    ┆ Asia          │
│ Blueberry  ┆ 1      ┆ blue   ┆ false    ┆ North America │
│ Cantaloupe ┆ 2500   ┆ orange ┆ true     ┆ Africa        │
│ Cranberry  ┆ 2      ┆ red    ┆ false    ┆ North America │
│ Elderberry ┆ 1      ┆ black  ┆ false    ┆ Europe        │
│ Orange     ┆ 130    ┆ orange ┆ true     ┆ Asia          │
│ Papaya     ┆ 1000   ┆ orange ┆ false    ┆ South America │
│ Peach      ┆ 150    ┆ orange ┆ true     ┆ Asia          │
│ Watermelon ┆ 5000   ┆ green  ┆ true     ┆ Africa        │
└────────────┴────────┴────────┴──────────┴───────────────┘

In [6]:
top2000 = pl.read_excel(
    "data/top2000-2023.xlsx", read_options={"skip_rows": 1}
).set_sorted("positie")

In [7]:
top2000

shape: (2_000, 4)
┌─────────┬─────────────────────────┬────────────────┬──────┐
│ positie ┆ titel                   ┆ artiest        ┆ jaar │
│ ---     ┆ ---                     ┆ ---            ┆ ---  │
│ i64     ┆ str                     ┆ str            ┆ i64  │
╞═════════╪═════════════════════════╪════════════════╪══════╡
│ 1       ┆ Bohemian Rhapsody       ┆ Queen          ┆ 1975 │
│ 2       ┆ Roller Coaster          ┆ Danny Vera     ┆ 2019 │
│ 3       ┆ Hotel California        ┆ Eagles         ┆ 1977 │
│ 4       ┆ Piano Man               ┆ Billy Joel     ┆ 1974 │
│ 5       ┆ Fix You                 ┆ Coldplay       ┆ 2005 │
│ …       ┆ …                       ┆ …              ┆ …    │
│ 1996    ┆ Charlie Brown           ┆ Coldplay       ┆ 2011 │
│ 1997    ┆ Beast Of Burden         ┆ Bette Midler   ┆ 1984 │
│ 1998    ┆ It Was A Very Good Year ┆ Frank Sinatra  ┆ 1968 │
│ 1999    ┆ Hou Van Mij             ┆ 3JS            ┆ 2008 │
│ 2000    ┆ Drivers License         ┆ Olivia Rodrigo ┆ 2021 │
└─────────┴─────────────────────────┴────────────────┴──────┘

In [8]:
(
    top2000.group_by("jaar")
    .agg(
        songs=pl.concat_str(
            pl.col("artiest"), pl.lit("-"), pl.col("titel")
        ),
    )
    .sort("jaar", descending=True)
)

shape: (67, 2)
┌──────┬─────────────────────────────────┐
│ jaar ┆ songs                           │
│ ---  ┆ ---                             │
│ i64  ┆ list[str]                       │
╞══════╪═════════════════════════════════╡
│ 2022 ┆ ["Son Mieux-Multicolor", "Bank… │
│ 2021 ┆ ["Goldband-Noodgeval", "Bankzi… │
│ 2020 ┆ ["DI-RECT-Soldier On", "Miss M… │
│ 2019 ┆ ["Danny Vera-Roller Coaster", … │
│ 2018 ┆ ["Lady Gaga & Bradley Cooper-S… │
│ …    ┆ …                               │
│ 1960 ┆ ["Etta James-At Last", "Shadow… │
│ 1959 ┆ ["Jacques Brel-Ne Me Quitte Pa… │
│ 1958 ┆ ["Chuck Berry-Johnny B. Goode"… │
│ 1957 ┆ ["Johnny Cash-I Walk The Line"… │
│ 1956 ┆ ["Elvis Presley-Love Me Tender… │
└──────┴─────────────────────────────────┘

In [9]:
(
    top2000.group_by("jaar", maintain_order=True)
    .head(3)
    .sort("jaar", descending=True)
    .head(9)
)

shape: (9, 4)
┌──────┬─────────┬─────────────────────────────────┬─────────────────────┐
│ jaar ┆ positie ┆ titel                           ┆ artiest             │
│ ---  ┆ ---     ┆ ---                             ┆ ---                 │
│ i64  ┆ i64     ┆ str                             ┆ str                 │
╞══════╪═════════╪═════════════════════════════════╪═════════════════════╡
│ 2022 ┆ 179     ┆ Multicolor                      ┆ Son Mieux           │
│ 2022 ┆ 370     ┆ Je Blik Richting Mij            ┆ Bankzitters         │
│ 2022 ┆ 395     ┆ L'enfer                         ┆ Stromae             │
│ 2021 ┆ 55      ┆ Noodgeval                       ┆ Goldband            │
│ 2021 ┆ 149     ┆ Stapelgek                       ┆ Bankzitters         │
│ 2021 ┆ 210     ┆ Dat Heb Jij Gedaan              ┆ Meau                │
│ 2020 ┆ 19      ┆ Soldier On                      ┆ DI-RECT             │
│ 2020 ┆ 38      ┆ Door De Wind                    ┆ Miss Montreal       │
│ 2020 ┆ 77      ┆ Impossible (Orchestral Version… ┆ Nothing But Thieves │
└──────┴─────────┴─────────────────────────────────┴─────────────────────┘

In [10]:
(
    top2000.group_by("artiest").len().sort("len", descending=True).head(10)
)

shape: (10, 2)
┌────────────────────┬─────┐
│ artiest            ┆ len │
│ ---                ┆ --- │
│ str                ┆ u32 │
╞════════════════════╪═════╡
│ Queen              ┆ 34  │
│ The Beatles        ┆ 31  │
│ ABBA               ┆ 25  │
│ The Rolling Stones ┆ 22  │
│ Bruce Springsteen  ┆ 22  │
│ Michael Jackson    ┆ 20  │
│ Coldplay           ┆ 20  │
│ Fleetwood Mac      ┆ 20  │
│ U2                 ┆ 18  │
│ David Bowie        ┆ 18  │
└────────────────────┴─────┘

In [11]:
sales = pl.read_csv("data/sales.csv")
sales.columns

['Date',
 'Day',
 'Month',
 'Year',
 'Customer_Age',
 'Age_Group',
 'Customer_Gender',
 'Country',
 'State',
 'Product_Category',
 'Sub_Category',
 'Product',
 'Order_Quantity',
 'Unit_Cost',
 'Unit_Price',
 'Profit',
 'Cost',
 'Revenue']

In [12]:
(
    sales.select(
        pl.col("Product_Category").alias("pc"),
        pl.col("Sub_Category").alias("sc"),
        pl.col("Unit_Price").alias("price"),
    )
    .group_by(
        "pc",
        "sc",
    )
    .max()
    .sort("price", descending=True)
    .head(10)
)

shape: (10, 3)
┌─────────────┬─────────────────┬───────┐
│ pc          ┆ sc              ┆ price │
│ ---         ┆ ---             ┆ ---   │
│ str         ┆ str             ┆ i64   │
╞═════════════╪═════════════════╪═══════╡
│ Bikes       ┆ Road Bikes      ┆ 3578  │
│ Bikes       ┆ Mountain Bikes  ┆ 3400  │
│ Bikes       ┆ Touring Bikes   ┆ 2384  │
│ Clothing    ┆ Vests           ┆ 2384  │
│ Accessories ┆ Bike Stands     ┆ 159   │
│ Accessories ┆ Bike Racks      ┆ 120   │
│ Clothing    ┆ Socks           ┆ 70    │
│ Clothing    ┆ Shorts          ┆ 70    │
│ Accessories ┆ Hydration Packs ┆ 55    │
│ Clothing    ┆ Jerseys         ┆ 54    │
└─────────────┴─────────────────┴───────┘

In [13]:
(
    sales.select("Country", "Profit")
    .group_by("Country")
    .sum()
    .sort("Profit", descending=True)
)

shape: (6, 2)
┌────────────────┬──────────┐
│ Country        ┆ Profit   │
│ ---            ┆ ---      │
│ str            ┆ i64      │
╞════════════════╪══════════╡
│ United States  ┆ 11073644 │
│ Australia      ┆ 6776030  │
│ United Kingdom ┆ 4413853  │
│ Canada         ┆ 3717296  │
│ Germany        ┆ 3359995  │
│ France         ┆ 2880282  │
└────────────────┴──────────┘

In [14]:
(
    sales.select("Sub_Category", "Product")
    .group_by("Sub_Category")
    .n_unique()
)

shape: (17, 2)
┌───────────────────┬─────────┐
│ Sub_Category      ┆ Product │
│ ---               ┆ ---     │
│ str               ┆ u32     │
╞═══════════════════╪═════════╡
│ Fenders           ┆ 2       │
│ Road Bikes        ┆ 38      │
│ Touring Bikes     ┆ 22      │
│ Helmets           ┆ 3       │
│ Bike Stands       ┆ 2       │
│ …                 ┆ …       │
│ Bike Racks        ┆ 1       │
│ Socks             ┆ 3       │
│ Bottles and Cages ┆ 3       │
│ Mountain Bikes    ┆ 28      │
│ Cleaners          ┆ 2       │
└───────────────────┴─────────┘

In [15]:
(
    sales.select("Sub_Category", "Product")
    .group_by("Sub_Category")
    .n_unique()
    .sort("Product", descending=True)
    .head(10)
)

shape: (10, 2)
┌───────────────────┬─────────┐
│ Sub_Category      ┆ Product │
│ ---               ┆ ---     │
│ str               ┆ u32     │
╞═══════════════════╪═════════╡
│ Road Bikes        ┆ 38      │
│ Mountain Bikes    ┆ 28      │
│ Touring Bikes     ┆ 22      │
│ Tires and Tubes   ┆ 11      │
│ Jerseys           ┆ 8       │
│ Gloves            ┆ 4       │
│ Vests             ┆ 4       │
│ Bottles and Cages ┆ 3       │
│ Shorts            ┆ 3       │
│ Helmets           ┆ 3       │
└───────────────────┴─────────┘

In [16]:
(
    sales.select("Age_Group", "Order_Quantity")
    .group_by("Age_Group")
    .mean()
    .sort("Order_Quantity", descending=True)
)

shape: (4, 2)
┌──────────────────────┬────────────────┐
│ Age_Group            ┆ Order_Quantity │
│ ---                  ┆ ---            │
│ str                  ┆ f64            │
╞══════════════════════╪════════════════╡
│ Seniors (64+)        ┆ 13.530137      │
│ Youth (<25)          ┆ 12.124018      │
│ Adults (35-64)       ┆ 12.045303      │
│ Young Adults (25-34) ┆ 11.560899      │
└──────────────────────┴────────────────┘

In [17]:
(
    sales.select("Age_Group", "Order_Quantity", "Profit")
    .group_by("Age_Group")
    .mean()
    .sort("Order_Quantity", descending=True)
)

pl.col().sub

TypeError: Col.__call__() missing 1 required positional argument: 'name'

okay so this is where polars is weird to me.

you dont group by and then create a var that is the mean of another var (or overwrite one)
you collect what you need and the grouping column is excluded from the mean and anything
else that can be "meaned" or whatever other function has that done to it.
that's great for many numeric columns. but strange to me, like what if you want
the raw data of rows and then a weekly total do it muck up all the other non-numerics?

ahhh okay so this next part with agg() is how Im used to it. it's like summarize and reframe in r tidyverse

In [ ]:
(
    sales.group_by("Country").agg(
        pl.col("Profit").alias("All Profits Per Transactions"),
        pl.col("Revenue").name.prefix("All"),
        pl.col("Revenue").sub(pl.col("Profit")).alias("cost2"),
        Cost=pl.col("Revenue") - pl.col("Profit")

    )
)

shape: (6, 5)
┌────────────────┬────────────────────┬────────────────────┬───────────────────┬───────────────────┐
│ Country        ┆ All Profits Per    ┆ AllRevenue         ┆ cost2             ┆ Cost              │
│ ---            ┆ Transactions       ┆ ---                ┆ ---               ┆ ---               │
│ str            ┆ ---                ┆ list[i64]          ┆ list[i64]         ┆ list[i64]         │
│                ┆ list[i64]          ┆                    ┆                   ┆                   │
╞════════════════╪════════════════════╪════════════════════╪═══════════════════╪═══════════════════╡
│ United Kingdom ┆ [1053, 1053, …     ┆ [1728, 1728, …     ┆ [675, 675, … 72]  ┆ [675, 675, … 72]  │
│                ┆ 112]               ┆ 184]               ┆                   ┆                   │
│ Germany        ┆ [160, 53, … 746]   ┆ [295, 98, … 1250]  ┆ [135, 45, … 504]  ┆ [135, 45, … 504]  │
│ United States  ┆ [524, 407, … 542]  ┆ [929, 722, … 878]  ┆ [405, 315, … 336] ┆ [405, 315, … 336] │
│ Australia      ┆ [1366, 1188, …     ┆ [2401, 2088, …     ┆ [1035, 900, …     ┆ [1035, 900, …     │
│                ┆ 655]               ┆ 1183]              ┆ 528]              ┆ 528]              │
│ France         ┆ [427, 427, … 655]  ┆ [787, 787, … 1207] ┆ [360, 360, … 552] ┆ [360, 360, … 552] │
│ Canada         ┆ [590, 590, … 630]  ┆ [950, 950, … 1014] ┆ [360, 360, … 384] ┆ [360, 360, … 384] │
└────────────────┴────────────────────┴────────────────────┴───────────────────┴───────────────────┘

In [ ]:
 (
  sales.select("Country", "Profit", "Revenue")
  .group_by("Country")
  .agg(
   pl.col("Profit").sum().name.prefix("Total "),
   pl.col("Profit").mean().alias("Average Profit per Transaction"),
   pl.col("Revenue").sum().name.prefix("Total"),
   pl.col("Revenue").mean().alias("Average Revenue per Transaction"),
  )
  .sort("Total Profit")
 )

shape: (6, 5)
┌────────────────┬──────────────┬────────────────────┬──────────────┬─────────────────────┐
│ Country        ┆ Total Profit ┆ Average Profit per ┆ TotalRevenue ┆ Average Revenue per │
│ ---            ┆ ---          ┆ Transaction        ┆ ---          ┆ Transactio…         │
│ str            ┆ i64          ┆ ---                ┆ i64          ┆ ---                 │
│                ┆              ┆ f64                ┆              ┆ f64                 │
╞════════════════╪══════════════╪════════════════════╪══════════════╪═════════════════════╡
│ France         ┆ 2880282      ┆ 261.891435         ┆ 8432872      ┆ 766.764139          │
│ Germany        ┆ 3359995      ┆ 302.756803         ┆ 8978596      ┆ 809.028293          │
│ Canada         ┆ 3717296      ┆ 262.187615         ┆ 7935738      ┆ 559.721964          │
│ United Kingdom ┆ 4413853      ┆ 324.071439         ┆ 10646196     ┆ 781.659031          │
│ Australia      ┆ 6776030      ┆ 283.089489         ┆ 21302059     ┆ 889.959016          │
│ United States  ┆ 11073644     ┆ 282.447687         ┆ 27975547     ┆ 713.552696          │
└────────────────┴──────────────┴────────────────────┴──────────────┴─────────────────────┘

In [19]:
def sum_transactions_above_threshold(
        col: pl.Expr, threshold: float
) -> tuple[pl.Expr, pl.Expr]:
    """Sums transactions where the column col exceeds the threshold."""
    original_column_name = col.meta.root_names()[0]
    condition_column_name = (col > threshold).alias(
        f"{original_column_name} > {threshold}"
    )
    new_column = (
        (col > threshold)
        .sum()
        .alias(f"Transactions with {original_column_name} > {threshold}")
    )
    return condition_column_name, new_column

In [20]:
sales.select("Country", "Profit").group_by("Country").agg(
    sum_transactions_above_threshold(pl.col("Profit"), 999)
)

shape: (6, 3)
┌────────────────┬─────────────────────────┬────────────────────────────────┐
│ Country        ┆ Profit > 999            ┆ Transactions with Profit > 999 │
│ ---            ┆ ---                     ┆ ---                            │
│ str            ┆ list[bool]              ┆ u32                            │
╞════════════════╪═════════════════════════╪════════════════════════════════╡
│ Germany        ┆ [false, false, … false] ┆ 659                            │
│ Australia      ┆ [true, true, … false]   ┆ 1233                           │
│ Canada         ┆ [false, false, … false] ┆ 868                            │
│ France         ┆ [false, false, … false] ┆ 482                            │
│ United Kingdom ┆ [true, true, … false]   ┆ 788                            │
│ United States  ┆ [false, false, … false] ┆ 2623                           │
└────────────────┴─────────────────────────┴────────────────────────────────┘

In [22]:
fold_example =pl.DataFrame({"col1":[2],"col2":[3],"col3":[4]})

fold_example.with_columns(
    sum =pl.fold(
        acc=pl.lit(0),
        function=lambda acc, x: acc + x,
        exprs=pl.col("*")
    ),
    sum2 = pl.col("col1") + pl.col("col2") + pl.col("col3"),
)

shape: (1, 5)
┌──────┬──────┬──────┬─────┬──────┐
│ col1 ┆ col2 ┆ col3 ┆ sum ┆ sum2 │
│ ---  ┆ ---  ┆ ---  ┆ --- ┆ ---  │
│ i64  ┆ i64  ┆ i64  ┆ i64 ┆ i64  │
╞══════╪══════╪══════╪═════╪══════╡
│ 2    ┆ 3    ┆ 4    ┆ 9   ┆ 9    │
└──────┴──────┴──────┴─────┴──────┘