In [1]:
import polars as pl

In [2]:
fruit = pl.read_csv("data/fruit.csv")
fg = fruit.group_by("is_round")

In [3]:
fg.len()

shape: (2, 2)
┌──────────┬─────┐
│ is_round ┆ len │
│ ---      ┆ --- │
│ bool     ┆ u32 │
╞══════════╪═════╡
│ true     ┆ 4   │
│ false    ┆ 6   │
└──────────┴─────┘

In [4]:
fruit

shape: (10, 5)
┌────────────┬────────┬────────┬──────────┬───────────────┐
│ name       ┆ weight ┆ color  ┆ is_round ┆ origin        │
│ ---        ┆ ---    ┆ ---    ┆ ---      ┆ ---           │
│ str        ┆ i64    ┆ str    ┆ bool     ┆ str           │
╞════════════╪════════╪════════╪══════════╪═══════════════╡
│ Avocado    ┆ 200    ┆ green  ┆ false    ┆ South America │
│ Banana     ┆ 120    ┆ yellow ┆ false    ┆ Asia          │
│ Blueberry  ┆ 1      ┆ blue   ┆ false    ┆ North America │
│ Cantaloupe ┆ 2500   ┆ orange ┆ true     ┆ Africa        │
│ Cranberry  ┆ 2      ┆ red    ┆ false    ┆ North America │
│ Elderberry ┆ 1      ┆ black  ┆ false    ┆ Europe        │
│ Orange     ┆ 130    ┆ orange ┆ true     ┆ Asia          │
│ Papaya     ┆ 1000   ┆ orange ┆ false    ┆ South America │
│ Peach      ┆ 150    ┆ orange ┆ true     ┆ Asia          │
│ Watermelon ┆ 5000   ┆ green  ┆ true     ┆ Africa        │
└────────────┴────────┴────────┴──────────┴───────────────┘

In [5]:
top2000 = pl.read_excel(
    "data/top2000-2023.xlsx", read_options={"skip_rows": 1}
).set_sorted("positie")

In [6]:
top2000

shape: (2_000, 4)
┌─────────┬─────────────────────────┬────────────────┬──────┐
│ positie ┆ titel                   ┆ artiest        ┆ jaar │
│ ---     ┆ ---                     ┆ ---            ┆ ---  │
│ i64     ┆ str                     ┆ str            ┆ i64  │
╞═════════╪═════════════════════════╪════════════════╪══════╡
│ 1       ┆ Bohemian Rhapsody       ┆ Queen          ┆ 1975 │
│ 2       ┆ Roller Coaster          ┆ Danny Vera     ┆ 2019 │
│ 3       ┆ Hotel California        ┆ Eagles         ┆ 1977 │
│ 4       ┆ Piano Man               ┆ Billy Joel     ┆ 1974 │
│ 5       ┆ Fix You                 ┆ Coldplay       ┆ 2005 │
│ …       ┆ …                       ┆ …              ┆ …    │
│ 1996    ┆ Charlie Brown           ┆ Coldplay       ┆ 2011 │
│ 1997    ┆ Beast Of Burden         ┆ Bette Midler   ┆ 1984 │
│ 1998    ┆ It Was A Very Good Year ┆ Frank Sinatra  ┆ 1968 │
│ 1999    ┆ Hou Van Mij             ┆ 3JS            ┆ 2008 │
│ 2000    ┆ Drivers License         ┆ Olivia Rodrigo ┆ 2021 │
└─────────┴─────────────────────────┴────────────────┴──────┘

In [7]:
(
    top2000.group_by("jaar")
    .agg(
        songs=pl.concat_str(pl.col("artiest"), pl.lit("-"), pl.col("titel")),
    )
    .sort("jaar", descending=True)
)

shape: (67, 2)
┌──────┬─────────────────────────────────┐
│ jaar ┆ songs                           │
│ ---  ┆ ---                             │
│ i64  ┆ list[str]                       │
╞══════╪═════════════════════════════════╡
│ 2022 ┆ ["Son Mieux-Multicolor", "Bank… │
│ 2021 ┆ ["Goldband-Noodgeval", "Bankzi… │
│ 2020 ┆ ["DI-RECT-Soldier On", "Miss M… │
│ 2019 ┆ ["Danny Vera-Roller Coaster", … │
│ 2018 ┆ ["Lady Gaga & Bradley Cooper-S… │
│ …    ┆ …                               │
│ 1960 ┆ ["Etta James-At Last", "Shadow… │
│ 1959 ┆ ["Jacques Brel-Ne Me Quitte Pa… │
│ 1958 ┆ ["Chuck Berry-Johnny B. Goode"… │
│ 1957 ┆ ["Johnny Cash-I Walk The Line"… │
│ 1956 ┆ ["Elvis Presley-Love Me Tender… │
└──────┴─────────────────────────────────┘

In [8]:
(
    top2000.group_by("jaar", maintain_order=True)
    .head(3)
    .sort("jaar", descending=True)
    .head(9)
)

shape: (9, 4)
┌──────┬─────────┬─────────────────────────────────┬─────────────────────┐
│ jaar ┆ positie ┆ titel                           ┆ artiest             │
│ ---  ┆ ---     ┆ ---                             ┆ ---                 │
│ i64  ┆ i64     ┆ str                             ┆ str                 │
╞══════╪═════════╪═════════════════════════════════╪═════════════════════╡
│ 2022 ┆ 179     ┆ Multicolor                      ┆ Son Mieux           │
│ 2022 ┆ 370     ┆ Je Blik Richting Mij            ┆ Bankzitters         │
│ 2022 ┆ 395     ┆ L'enfer                         ┆ Stromae             │
│ 2021 ┆ 55      ┆ Noodgeval                       ┆ Goldband            │
│ 2021 ┆ 149     ┆ Stapelgek                       ┆ Bankzitters         │
│ 2021 ┆ 210     ┆ Dat Heb Jij Gedaan              ┆ Meau                │
│ 2020 ┆ 19      ┆ Soldier On                      ┆ DI-RECT             │
│ 2020 ┆ 38      ┆ Door De Wind                    ┆ Miss Montreal       │
│ 2020 ┆ 77      ┆ Impossible (Orchestral Version… ┆ Nothing But Thieves │
└──────┴─────────┴─────────────────────────────────┴─────────────────────┘

In [9]:
(top2000.group_by("artiest").len().sort("len", descending=True).head(10))

shape: (10, 2)
┌────────────────────┬─────┐
│ artiest            ┆ len │
│ ---                ┆ --- │
│ str                ┆ u32 │
╞════════════════════╪═════╡
│ Queen              ┆ 34  │
│ The Beatles        ┆ 31  │
│ ABBA               ┆ 25  │
│ Bruce Springsteen  ┆ 22  │
│ The Rolling Stones ┆ 22  │
│ Fleetwood Mac      ┆ 20  │
│ Michael Jackson    ┆ 20  │
│ Coldplay           ┆ 20  │
│ U2                 ┆ 18  │
│ David Bowie        ┆ 18  │
└────────────────────┴─────┘

In [10]:
sales = pl.read_csv("data/sales.csv")
sales.columns

['Date',
 'Day',
 'Month',
 'Year',
 'Customer_Age',
 'Age_Group',
 'Customer_Gender',
 'Country',
 'State',
 'Product_Category',
 'Sub_Category',
 'Product',
 'Order_Quantity',
 'Unit_Cost',
 'Unit_Price',
 'Profit',
 'Cost',
 'Revenue']

In [11]:
(
    sales.select(
        pl.col("Product_Category").alias("pc"),
        pl.col("Sub_Category").alias("sc"),
        pl.col("Unit_Price").alias("price"),
    )
    .group_by(
        "pc",
        "sc",
    )
    .max()
    .sort("price", descending=True)
    .head(10)
)

shape: (10, 3)
┌─────────────┬─────────────────┬───────┐
│ pc          ┆ sc              ┆ price │
│ ---         ┆ ---             ┆ ---   │
│ str         ┆ str             ┆ i64   │
╞═════════════╪═════════════════╪═══════╡
│ Bikes       ┆ Road Bikes      ┆ 3578  │
│ Bikes       ┆ Mountain Bikes  ┆ 3400  │
│ Bikes       ┆ Touring Bikes   ┆ 2384  │
│ Clothing    ┆ Vests           ┆ 2384  │
│ Accessories ┆ Bike Stands     ┆ 159   │
│ Accessories ┆ Bike Racks      ┆ 120   │
│ Clothing    ┆ Shorts          ┆ 70    │
│ Clothing    ┆ Socks           ┆ 70    │
│ Accessories ┆ Hydration Packs ┆ 55    │
│ Clothing    ┆ Jerseys         ┆ 54    │
└─────────────┴─────────────────┴───────┘

In [12]:
(
    sales.select("Country", "Profit")
    .group_by("Country")
    .sum()
    .sort("Profit", descending=True)
)

shape: (6, 2)
┌────────────────┬──────────┐
│ Country        ┆ Profit   │
│ ---            ┆ ---      │
│ str            ┆ i64      │
╞════════════════╪══════════╡
│ United States  ┆ 11073644 │
│ Australia      ┆ 6776030  │
│ United Kingdom ┆ 4413853  │
│ Canada         ┆ 3717296  │
│ Germany        ┆ 3359995  │
│ France         ┆ 2880282  │
└────────────────┴──────────┘

In [13]:
(sales.select("Sub_Category", "Product").group_by("Sub_Category").n_unique())

shape: (17, 2)
┌───────────────────┬─────────┐
│ Sub_Category      ┆ Product │
│ ---               ┆ ---     │
│ str               ┆ u32     │
╞═══════════════════╪═════════╡
│ Caps              ┆ 2       │
│ Mountain Bikes    ┆ 28      │
│ Fenders           ┆ 2       │
│ Bike Stands       ┆ 2       │
│ Vests             ┆ 4       │
│ …                 ┆ …       │
│ Gloves            ┆ 4       │
│ Helmets           ┆ 3       │
│ Cleaners          ┆ 2       │
│ Bike Racks        ┆ 1       │
│ Bottles and Cages ┆ 3       │
└───────────────────┴─────────┘

In [14]:
(
    sales.select("Sub_Category", "Product")
    .group_by("Sub_Category")
    .n_unique()
    .sort("Product", descending=True)
    .head(10)
)

shape: (10, 2)
┌─────────────────┬─────────┐
│ Sub_Category    ┆ Product │
│ ---             ┆ ---     │
│ str             ┆ u32     │
╞═════════════════╪═════════╡
│ Road Bikes      ┆ 38      │
│ Mountain Bikes  ┆ 28      │
│ Touring Bikes   ┆ 22      │
│ Tires and Tubes ┆ 11      │
│ Jerseys         ┆ 8       │
│ Gloves          ┆ 4       │
│ Vests           ┆ 4       │
│ Socks           ┆ 3       │
│ Helmets         ┆ 3       │
│ Shorts          ┆ 3       │
└─────────────────┴─────────┘

In [15]:
(
    sales.select("Age_Group", "Order_Quantity")
    .group_by("Age_Group")
    .mean()
    .sort("Order_Quantity", descending=True)
)

shape: (4, 2)
┌──────────────────────┬────────────────┐
│ Age_Group            ┆ Order_Quantity │
│ ---                  ┆ ---            │
│ str                  ┆ f64            │
╞══════════════════════╪════════════════╡
│ Seniors (64+)        ┆ 13.530137      │
│ Youth (<25)          ┆ 12.124018      │
│ Adults (35-64)       ┆ 12.045303      │
│ Young Adults (25-34) ┆ 11.560899      │
└──────────────────────┴────────────────┘

In [16]:
(
    sales.select("Age_Group", "Order_Quantity", "Profit")
    .group_by("Age_Group")
    .mean()
    .sort("Order_Quantity", descending=True)
)

shape: (4, 3)
┌──────────────────────┬────────────────┬────────────┐
│ Age_Group            ┆ Order_Quantity ┆ Profit     │
│ ---                  ┆ ---            ┆ ---        │
│ str                  ┆ f64            ┆ f64        │
╞══════════════════════╪════════════════╪════════════╡
│ Seniors (64+)        ┆ 13.530137      ┆ 189.267123 │
│ Youth (<25)          ┆ 12.124018      ┆ 245.377608 │
│ Adults (35-64)       ┆ 12.045303      ┆ 292.375717 │
│ Young Adults (25-34) ┆ 11.560899      ┆ 294.581699 │
└──────────────────────┴────────────────┴────────────┘

okay so this is where polars is weird to me.

you dont group by and then create a var that is the mean of another var (or overwrite one)
you collect what you need and the grouping column is excluded from the mean and anything
else that can be "meaned" or whatever other function has that done to it.
that's great for many numeric columns. but strange to me, like what if you want
the raw data of rows and then a weekly total do it muck up all the other non-numerics?

ahhh okay so this next part with agg() is how Im used to it. it's like summarize and reframe in r tidyverse

In [17]:
(
    sales.group_by("Country").agg(
        pl.col("Profit").alias("All Profits Per Transactions"),
        pl.col("Revenue").name.prefix("All"),
        pl.col("Revenue").sub(pl.col("Profit")).alias("cost2"),
        Cost=pl.col("Revenue") - pl.col("Profit"),
    )
)

shape: (6, 5)
┌────────────────┬────────────────────┬────────────────────┬───────────────────┬───────────────────┐
│ Country        ┆ All Profits Per    ┆ AllRevenue         ┆ cost2             ┆ Cost              │
│ ---            ┆ Transactions       ┆ ---                ┆ ---               ┆ ---               │
│ str            ┆ ---                ┆ list[i64]          ┆ list[i64]         ┆ list[i64]         │
│                ┆ list[i64]          ┆                    ┆                   ┆                   │
╞════════════════╪════════════════════╪════════════════════╪═══════════════════╪═══════════════════╡
│ Australia      ┆ [1366, 1188, …     ┆ [2401, 2088, …     ┆ [1035, 900, …     ┆ [1035, 900, …     │
│                ┆ 655]               ┆ 1183]              ┆ 528]              ┆ 528]              │
│ Germany        ┆ [160, 53, … 746]   ┆ [295, 98, … 1250]  ┆ [135, 45, … 504]  ┆ [135, 45, … 504]  │
│ United Kingdom ┆ [1053, 1053, …     ┆ [1728, 1728, …     ┆ [675, 675, … 72]  ┆ [675, 675, … 72]  │
│                ┆ 112]               ┆ 184]               ┆                   ┆                   │
│ France         ┆ [427, 427, … 655]  ┆ [787, 787, … 1207] ┆ [360, 360, … 552] ┆ [360, 360, … 552] │
│ United States  ┆ [524, 407, … 542]  ┆ [929, 722, … 878]  ┆ [405, 315, … 336] ┆ [405, 315, … 336] │
│ Canada         ┆ [590, 590, … 630]  ┆ [950, 950, … 1014] ┆ [360, 360, … 384] ┆ [360, 360, … 384] │
└────────────────┴────────────────────┴────────────────────┴───────────────────┴───────────────────┘

In [18]:
(
    sales.select("Country", "Profit", "Revenue")
    .group_by("Country")
    .agg(
        pl.col("Profit").sum().name.prefix("Total "),
        pl.col("Profit").mean().alias("Average Profit per Transaction"),
        pl.col("Revenue").sum().name.prefix("Total"),
        pl.col("Revenue").mean().alias("Average Revenue per Transaction"),
    )
    .sort("Total Profit")
)

shape: (6, 5)
┌────────────────┬──────────────┬────────────────────┬──────────────┬─────────────────────┐
│ Country        ┆ Total Profit ┆ Average Profit per ┆ TotalRevenue ┆ Average Revenue per │
│ ---            ┆ ---          ┆ Transaction        ┆ ---          ┆ Transactio…         │
│ str            ┆ i64          ┆ ---                ┆ i64          ┆ ---                 │
│                ┆              ┆ f64                ┆              ┆ f64                 │
╞════════════════╪══════════════╪════════════════════╪══════════════╪═════════════════════╡
│ France         ┆ 2880282      ┆ 261.891435         ┆ 8432872      ┆ 766.764139          │
│ Germany        ┆ 3359995      ┆ 302.756803         ┆ 8978596      ┆ 809.028293          │
│ Canada         ┆ 3717296      ┆ 262.187615         ┆ 7935738      ┆ 559.721964          │
│ United Kingdom ┆ 4413853      ┆ 324.071439         ┆ 10646196     ┆ 781.659031          │
│ Australia      ┆ 6776030      ┆ 283.089489         ┆ 21302059     ┆ 889.959016          │
│ United States  ┆ 11073644     ┆ 282.447687         ┆ 27975547     ┆ 713.552696          │
└────────────────┴──────────────┴────────────────────┴──────────────┴─────────────────────┘

In [19]:
def sum_transactions_above_threshold(
    col: pl.Expr, threshold: float
) -> tuple[pl.Expr, pl.Expr]:
    """Sums transactions where the column col exceeds the threshold."""
    original_column_name = col.meta.root_names()[0]
    condition_column_name = (col > threshold).alias(
        f"{original_column_name} > {threshold}"
    )
    new_column = (
        (col > threshold)
        .sum()
        .alias(f"Transactions with {original_column_name} > {threshold}")
    )
    return condition_column_name, new_column

In [20]:
sales.select("Country", "Profit").group_by("Country").agg(
    sum_transactions_above_threshold(pl.col("Profit"), 999)
)

shape: (6, 3)
┌────────────────┬─────────────────────────┬────────────────────────────────┐
│ Country        ┆ Profit > 999            ┆ Transactions with Profit > 999 │
│ ---            ┆ ---                     ┆ ---                            │
│ str            ┆ list[bool]              ┆ u32                            │
╞════════════════╪═════════════════════════╪════════════════════════════════╡
│ Australia      ┆ [true, true, … false]   ┆ 1233                           │
│ United States  ┆ [false, false, … false] ┆ 2623                           │
│ France         ┆ [false, false, … false] ┆ 482                            │
│ Canada         ┆ [false, false, … false] ┆ 868                            │
│ Germany        ┆ [false, false, … false] ┆ 659                            │
│ United Kingdom ┆ [true, true, … false]   ┆ 788                            │
└────────────────┴─────────────────────────┴────────────────────────────────┘

In [21]:
fold_example = pl.DataFrame({"col1": [2], "col2": [3], "col3": [4]})

fold_example.with_columns(
    sum=pl.fold(acc=pl.lit(0), function=lambda acc,
                x: acc + x, exprs=pl.col("*")),
    sum2=pl.col("col1") + pl.col("col2") + pl.col("col3"),
)

shape: (1, 5)
┌──────┬──────┬──────┬─────┬──────┐
│ col1 ┆ col2 ┆ col3 ┆ sum ┆ sum2 │
│ ---  ┆ ---  ┆ ---  ┆ --- ┆ ---  │
│ i64  ┆ i64  ┆ i64  ┆ i64 ┆ i64  │
╞══════╪══════╪══════╪═════╪══════╡
│ 2    ┆ 3    ┆ 4    ┆ 9   ┆ 9    │
└──────┴──────┴──────┴─────┴──────┘

kind of a useless example ^ but I'm sure this was just meant to be simple

they provide one - what if you want sum with weights

In [22]:
products = pl.DataFrame(
    {
        "product_a": [10, 20, 30],
        "product_b": [20, 30, 40],
        "product_c": [30, 40, 50],
    }
)

weights = {"product_a": 0.5, "product_b": 1.5, "product_c": 2.0}

weighted_exprs = [
    (pl.col(product) * weight).alias(product) for product, weight in weights.items()
]

products_with_weighted_sum = products.with_columns(
    weighted_sum=pl.fold(
        acc=pl.lit(0), function=lambda acc, x: acc + x, exprs=weighted_exprs
    )
)

products_with_weighted_sum

shape: (3, 4)
┌───────────┬───────────┬───────────┬──────────────┐
│ product_a ┆ product_b ┆ product_c ┆ weighted_sum │
│ ---       ┆ ---       ┆ ---       ┆ ---          │
│ i64       ┆ i64       ┆ i64       ┆ f64          │
╞═══════════╪═══════════╪═══════════╪══════════════╡
│ 10        ┆ 20        ┆ 30        ┆ 95.0         │
│ 20        ┆ 30        ┆ 40        ┆ 135.0        │
│ 30        ┆ 40        ┆ 50        ┆ 175.0        │
└───────────┴───────────┴───────────┴──────────────┘

im trying to think about how I would've done that normally in R...
probably would've made a table of the weights. did a join. did a mutate(across) 
where its all x by weight and then sum the row.
which I guess isn't that too different. or maybe I would've pivoted
longer and did something. I dunno. working across a row
just isn't something I do too often. I usually find a different
pattern....

window funcs: sometimes we want to add info to things. instead of aggregating down to things.
there is over, instead of agg. 
so if agg is like summarize (but mostly reframe)
then this is just a group_by and mutate probably.... we'll see.

In [23]:
(
    top2000.select(
        "jaar",
        "artiest",
        "titel",
        "positie",
        year_rank=pl.col("positie").rank().over("jaar"),
    ).sample(10, seed=42)
)

shape: (10, 5)
┌──────┬──────────────────────────────┬────────────────────────┬─────────┬───────────┐
│ jaar ┆ artiest                      ┆ titel                  ┆ positie ┆ year_rank │
│ ---  ┆ ---                          ┆ ---                    ┆ ---     ┆ ---       │
│ i64  ┆ str                          ┆ str                    ┆ i64     ┆ f64       │
╞══════╪══════════════════════════════╪════════════════════════╪═════════╪═══════════╡
│ 2013 ┆ Stromae                      ┆ Papaoutai              ┆ 318     ┆ 6.0       │
│ 1969 ┆ John Denver                  ┆ Leaving On A Jet Plane ┆ 607     ┆ 16.0      │
│ 1971 ┆ Led Zeppelin                 ┆ Immigrant Song         ┆ 590     ┆ 19.0      │
│ 2009 ┆ Anouk                        ┆ For Bitter Or Worse    ┆ 1453    ┆ 23.0      │
│ 2015 ┆ Snollebollekes               ┆ Links Rechts           ┆ 1076    ┆ 14.0      │
│ 1984 ┆ Alphaville                   ┆ Forever Young          ┆ 302     ┆ 11.0      │
│ 1977 ┆ ABBA                         ┆ Take A Chance On Me    ┆ 636     ┆ 23.0      │
│ 1975 ┆ Rod Stewart                  ┆ Sailing                ┆ 918     ┆ 20.0      │
│ 1986 ┆ Metallica                    ┆ Master Of Puppets      ┆ 29      ┆ 1.0       │
│ 2005 ┆ Alderliefste & Ramses Shaffy ┆ Laat Me/Vivre          ┆ 463     ┆ 5.0       │
└──────┴──────────────────────────────┴────────────────────────┴─────────┴───────────┘

asked copilot for a dynamic group example below lol its garbabge and doesnt work. nvm.

In [24]:
dates = pl.date_range(
    start=pl.date(2024, 4, 1),
    end=pl.date(2024, 4, 26),
    interval="2d",
    eager=True,
)

dates = dates.filter(dates.dt.weekday() < 6)
dates_repeated = pl.concat([dates, dates]).sort()

In [25]:
dates

shape: (10,)
Series: 'date' [date]
[
	2024-04-01
	2024-04-03
	2024-04-05
	2024-04-09
	2024-04-11
	2024-04-15
	2024-04-17
	2024-04-19
	2024-04-23
	2024-04-25
]

In [27]:
dates_repeated

shape: (20,)
Series: 'date' [date]
[
	2024-04-01
	2024-04-01
	2024-04-03
	2024-04-03
	2024-04-05
	…
	2024-04-19
	2024-04-23
	2024-04-23
	2024-04-25
	2024-04-25
]

In [ ]:
small_sales_df = (
    pl.DataFrame(
        {
            "date": dates_repeated,
            "store": ["Store A", "Store B"] * dates.len(),
            "sales": [
                200, 150, 220, 160, 250, 180, 270, 190, 280, 210,
                210, 170, 220, 180, 240, 190, 250, 200, 260, 210,
            ],
        }
    )
    # lets polars know this is sorted already for optimizations
    .set_sorted("date")
    .set_sorted("store")
)

In [31]:
small_sales_df

shape: (20, 3)
┌────────────┬─────────┬───────┐
│ date       ┆ store   ┆ sales │
│ ---        ┆ ---     ┆ ---   │
│ date       ┆ str     ┆ i64   │
╞════════════╪═════════╪═══════╡
│ 2024-04-01 ┆ Store A ┆ 200   │
│ 2024-04-01 ┆ Store B ┆ 150   │
│ 2024-04-03 ┆ Store A ┆ 220   │
│ 2024-04-03 ┆ Store B ┆ 160   │
│ 2024-04-05 ┆ Store A ┆ 250   │
│ …          ┆ …       ┆ …     │
│ 2024-04-19 ┆ Store B ┆ 190   │
│ 2024-04-23 ┆ Store A ┆ 250   │
│ 2024-04-23 ┆ Store B ┆ 200   │
│ 2024-04-25 ┆ Store A ┆ 260   │
│ 2024-04-25 ┆ Store B ┆ 210   │
└────────────┴─────────┴───────┘

In [32]:
# can calculate rolling sum of lazt 7 days

result = small_sales_df.rolling(
    index_column="date",
    period="7d",
    group_by="store",
).agg(
    sum_of_last_7_days_sales=pl.sum("sales")
)

In [33]:
result

shape: (20, 3)
┌─────────┬────────────┬──────────────────────────┐
│ store   ┆ date       ┆ sum_of_last_7_days_sales │
│ ---     ┆ ---        ┆ ---                      │
│ str     ┆ date       ┆ i64                      │
╞═════════╪════════════╪══════════════════════════╡
│ Store A ┆ 2024-04-01 ┆ 200                      │
│ Store A ┆ 2024-04-03 ┆ 420                      │
│ Store A ┆ 2024-04-05 ┆ 670                      │
│ Store A ┆ 2024-04-09 ┆ 740                      │
│ Store A ┆ 2024-04-11 ┆ 800                      │
│ …       ┆ …          ┆ …                        │
│ Store B ┆ 2024-04-15 ┆ 570                      │
│ Store B ┆ 2024-04-17 ┆ 560                      │
│ Store B ┆ 2024-04-19 ┆ 540                      │
│ Store B ┆ 2024-04-23 ┆ 570                      │
│ Store B ┆ 2024-04-25 ┆ 600                      │
└─────────┴────────────┴──────────────────────────┘

In [ ]:
final_df = small_sales_df.join(result, on=["date", "store"])
final_df

shape: (20, 4)
┌────────────┬─────────┬───────┬──────────────────────────┐
│ date       ┆ store   ┆ sales ┆ sum_of_last_7_days_sales │
│ ---        ┆ ---     ┆ ---   ┆ ---                      │
│ date       ┆ str     ┆ i64   ┆ i64                      │
╞════════════╪═════════╪═══════╪══════════════════════════╡
│ 2024-04-01 ┆ Store A ┆ 200   ┆ 200                      │
│ 2024-04-03 ┆ Store A ┆ 220   ┆ 420                      │
│ 2024-04-05 ┆ Store A ┆ 250   ┆ 670                      │
│ 2024-04-09 ┆ Store A ┆ 270   ┆ 740                      │
│ 2024-04-11 ┆ Store A ┆ 280   ┆ 800                      │
│ …          ┆ …       ┆ …     ┆ …                        │
│ 2024-04-15 ┆ Store B ┆ 170   ┆ 570                      │
│ 2024-04-17 ┆ Store B ┆ 180   ┆ 560                      │
│ 2024-04-19 ┆ Store B ┆ 190   ┆ 540                      │
│ 2024-04-23 ┆ Store B ┆ 200   ┆ 570                      │
│ 2024-04-25 ┆ Store B ┆ 210   ┆ 600                      │
└────────────┴─────────┴───────┴──────────────────────────┘

In [ ]:
# opposite of agg is upsample to create more entries
upsampled_small_sales_df = small_sales_df.upsample(
    time_column="date", every="1d", group_by="store", maintain_order=True
)
upsampled_small_sales_df

shape: (50, 3)
┌────────────┬─────────┬───────┐
│ date       ┆ store   ┆ sales │
│ ---        ┆ ---     ┆ ---   │
│ date       ┆ str     ┆ i64   │
╞════════════╪═════════╪═══════╡
│ 2024-04-01 ┆ Store A ┆ 200   │
│ 2024-04-02 ┆ null    ┆ null  │
│ 2024-04-03 ┆ Store A ┆ 220   │
│ 2024-04-04 ┆ null    ┆ null  │
│ 2024-04-05 ┆ Store A ┆ 250   │
│ …          ┆ …       ┆ …     │
│ 2024-04-21 ┆ null    ┆ null  │
│ 2024-04-22 ┆ null    ┆ null  │
│ 2024-04-23 ┆ Store B ┆ 200   │
│ 2024-04-24 ┆ null    ┆ null  │
│ 2024-04-25 ┆ Store B ┆ 210   │
└────────────┴─────────┴───────┘